.button {
    -fx-background-color:
            linear-gradient(#ffd65b, #e68400),
            linear-gradient(#ffef84, #f2ba44),
            linear-gradient(#ffea6a, #efaa22),
            linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;

}
.MyButton{
    -fx-background-color:
            #44b13c,
            linear-gradient(#fafdfe, #e8f5fc),
            linear-gradient(#90235b 0%, #d9f0fc 49%, #bee6fd 50%, #f2f5a7 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-background-radius: 30px;
}
.StartPage{
    -fx-background-image: url("../startPage.jpg");
}